//fonts
$primary-font: helvetica bold;
$secondary-font: helvetica;

//colors
$primary-color: #41BA77;
$secondary-color: #A3D060;
$card-color: #EBEBEB;
$font-color: #464646;
$lite-font-color: #707070;
$accent-color: #B12020;
$app-bg: #FFFFFF;


.App {
  margin: 0;
  padding: 0;
}

.level img {
  height: 1.5rem;
}

.level a {
  color: $primary-color;
}

.card:hover {
  // background-color: $secondary-color;
  background-color: #ebecec;
  // color: white;  
}

// .card:hover .card-image {
//   visibility: hidden;
// }

// .card-content:hover {
//   background-color: #ebecec;
// }

.login-form, .contact-form {
  // background: $primary-color;
  // border-color: $primary-color;
  padding: 3rem 2rem;
  border-radius: .3rem;
  color: white;
}

#filter {
  background-color: $primary-color;
  padding: 1rem;
  color: white;
  border-radius: .2rem;
}

.button-area {
  text-align: center;
  padding-top: 1rem;
}

.columns {
  flex-wrap: wrap;
}

//svg stuffies

#sun {
  animation-duration: 1.5s;
  animation-name: sun-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes sun-move {
  from { 
    transform: translateX(0) translateY(60px)
  }
  to {
    transform: translateX(0px) translateY(700px)
  }
}