//fonts
$primary-font: helvetica bold;
$secondary-font: helvetica;

//colors
$primary-color: #41BA77;
$secondary-color: #A3D060;
$card-color: #EBEBEB;
$font-color: #464646;
$lite-font-color: #707070;
$accent-color: #B12020;
$app-bg: #FFFFFF;
$navbar-item-hover-background-color: #FFFFFF !default;
$navbar-item-active-background-color: transparent !default;
$is-success: red !default;


.App {
  margin: 0;
  padding: 0;
}
  
.homepage-image .section {
  padding-left: 0;
  padding-right: 0;
}

.navbar a {
  color: $font-color;
}
.navbar a:hover {
  color: $primary-color;
}

.brand-name {
  font-size: 1.3rem;
  margin-left: 1rem;
}

.filter-button {
  margin-left: .7rem;
}

#logo {
  padding-bottom: .3rem;
}

.level img {
  height: 1.5rem;
}

.level a {
  color: $primary-color;
}

.card:hover {
  background-color: #ebecec;
}

.booth-info {
  background-color: #F2F2F2;
  color: white;
  min-height: inherit;
  padding: 1rem;
  font-style: $secondary-font;
}

// .card:hover .card-image {
//   visibility: hidden;
// }

// .card-content:hover {
//   background-color: #ebecec;
// }

.navbar-burger span {
  height: .1rem;
}

.login-form, .contact-form {
  // background: $primary-color;
  // border-color: $primary-color;
  padding: 3rem 2rem;
  border-radius: .3rem;
  color: white;
}

#filter {
  background-color: $primary-color;
  padding: 1rem;
  color: white;
  border-radius: .2rem;
}

.button.is-success {
  background-color: $primary-color;
}

.field.is-grouped.is-grouped-centered, .button-area {
  padding-top: 1rem;
  text-align: center;
}

.columns {
  flex-wrap: wrap;
}

// small devices
@media only screen and (max-width: 731px) {
  .hero-body {
    padding: 0;
  }
}

// desktops
@media only screen and (min-width: 742px) {
  .booth-header .columns {
    min-height: 27.8rem;
  }
  
  .booth-header .column {
    min-height: inherit;
  }

  .form-titles {
    padding-left: 3.5rem;
  }

  .about-section, .home-section, .market-section {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

// big desktops
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1500px;
  }
}


//svg stuffies
#sun {
  animation-duration: 1.5s;
  animation-name: sun-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes sun-move {
  from { 
    transform: translateX(0) translateY(60px)
  }
  to {
    transform: translateX(0px) translateY(700px)
  }
}