//fonts
$primary-font: helvetica bold;
$secondary-font: helvetica;

//colors
$primary-color: #41BA77;
$secondary-color: #A3D060;
$card-color: #EBEBEB;
$font-color: #464646;
$lite-font-color: #707070;
$accent-color: #B12020;
$app-bg: #FFFFFF;
$navbar-item-hover-background-color: #FFFFFF !default;
$navbar-item-active-background-color: transparent !default;
$is-success: red !default;


.App {
  margin: 0;
  padding: 0;
}
  
figure {
  margin: 0;
}

p {
  margin: 0;
}

.homepage-image .section {
  padding: 0rem 0rem 0rem 0rem;
}

.navbar a {
  color: $font-color;
}
.navbar a:hover {
  color: $primary-color;
}

.brand-name {
  font-size: 1.3rem;
  margin-left: 1rem;
}

.filter-button {
  margin-left: .7rem;
}

// .produce-box {
//   height: 5rem;
//   width: 100%;
//   border-style: solid;
//   border-color: #464646;
//   // background-color: #464646;
// }

.is-produce-review-switch {
  border-color: #707070;
  border-style: solid;
  border-radius: 2rem;
  padding: .5rem 1rem;
}

.produce-icon {
  height: 3.5rem;
}

#logo {
  padding-bottom: .3rem;
}

#profile-pic {
  height: 10rem;
}

.level img {
  height: 1.5rem;
}

.level a {
  color: $primary-color;
}

.is-equal-column {
  display: flex;
}

.is-map {
  height: 20rem;
}

#profile-map-pin {
  height: 2rem;
}

.navbar-link, a.navbar-item:hover {
  background-color: transparent;
}

//semantic ui tab component
.ui.pointing.secondary.menu {
  margin: 2rem 0rem;
}

.ui.pointing.secondary.menu a.item {
  margin-right: 1rem;
  color: $font-color;
}

.ui.segment.active.tab {
  min-height: 25rem;
}

//farmer cards
.farmer-card, .farmer-description {
  width: 100%;
  text-align: center;
  padding: 2rem;
  border: #464646;
	border-radius: 0.5rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}

// booth cards
.card:hover {
  background-color: #ebecec;
}

.card-content {
  max-height: 15rem;
  height: fit-content;
  // overflow: hidden;
  flex: auto;

}

.card .content {
  height: 100%;
  overflow: hidden;
}

.card .subtitle {
  margin-bottom: 1rem;
}

.is-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-footer {
  border-top: none;
}

.card-footer-item {
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  align-items: initial;
  justify-content: left;
}

// .section.is-small {
//   padding: 0rem 1.5rem;
// }

#form-image {
  height: 34.8rem;
}

.is-form-page {
  padding: 0rem 0rem 0rem 1rem;
}

.is-backdrop {
  background: rgb(65,186,119);
  background: linear-gradient(90deg, rgba(65,186,119,1) 0%, rgba(163,208,96,1) 81%);
  height: 35.5rem;
}

.image.is-4by5 {
  padding-top: 0;
}

// booth header
.booth-info {
  background-color: #F2F2F2;
  color: white;
  min-height: inherit;
  padding: 1rem;
  font-style: $secondary-font;
}

.navbar-burger span {
  height: .1rem;
}

.login-form, .contact-form {
  // background: $primary-color;
  // border-color: $primary-color;
  padding: 3rem 2rem;
  border-radius: .3rem;
  color: white;
}

.pin {
  height: 1rem;
  margin-right: .3rem;
}

#filter {
  background-color: $primary-color;
  padding: 1rem;
  color: white;
  border-radius: .2rem;
  margin-bottom: 1rem;
}

.button.is-success {
  background-color: $primary-color;
}

.field.is-grouped.is-grouped-centered, .button-area {
  padding-top: 1rem;
  text-align: center;
}

.columns {
  flex-wrap: wrap;
}

.is-location-input-left {
  border-radius: 3rem 0rem 0rem 3rem;
}

.is-location-input-right {
  border-radius: 0rem 3rem 3rem 0rem;
}

// small devices
@media only screen and (max-width: 731px) {
  .hero-body {
    padding: 0;
  }

  //booth cards
  .card {
    font-size: 3vw;
  }

  .card-content {
    padding: 1rem;
    height: 50%;
    min-height: 45%;
    // max-height: 50%;
  }

  .card .subtitle {
    margin-bottom: .5rem;
  }

  .card-footer-item {
    padding: 0rem 1rem 1rem 1rem;
    align-items: initial;
    justify-content: left;
  }

}

// desktops
@media only screen and (min-width: 742px) {
  // .booth-header .columns {
  //   min-height: 27.8rem;
  // }
  
  // .booth-header .column {
  //   min-height: inherit;
  // }

  // .booth-header {
  //   padding: 0rem 15rem;
  // }

  .section.is-small.is-farmer-page {
    padding: 0rem 15rem;
  }

  .form-titles {
    padding-left: 2rem;
  }

  .about-section, .home-section, .market-section {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  // .booth-items-section {
  //   padding: 2rem 3.5rem;
  // }
}

// big desktops
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1500px;
  }
}
